@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;
    
}

main{
    min-height: 100vh;
    display: grid;
    grid-template-areas: "sidebar header" "sidebar article";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 15em 4fr;
    gap: 10px;
}



/* Laying out the header */
header{
    grid-area: header;
    background: rgba(0, 0, 0, .4);
    box-shadow: 2px 2px 2px #555;
    display: grid;
    grid-template-areas: "search secondProfile" "profile buttons";
    grid-template-columns: 2fr 1fr;
    padding: 1.25em;
}

.search-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-container > input{
    width: 25em;
    padding: .5em;
    border: none;
    outline: none;
    border-radius: 50px;
}

.search-container{
    grid-area: search;
    padding: .2em;
}

.profile-container{
    grid-area: profile;
    display: grid;
    grid-template-areas: "logo greating-name";
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

.profile-container > .logo{
    grid-area: logo;
}

.profile-container > #greating-name{
    grid-area: greating-name;
}

.second-pcontainer{
    grid-area: secondProfile;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    width: 60%;
}

.buttons{
    grid-area: buttons;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em;
}
/* 
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
} */

/* a.nostyle:link {
    text-decoration: none;
    color: black;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
} */

.buttons > button{
    cursor: pointer;
    margin: auto 1em;
    padding: 1em;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .5);
} 

.buttons > button:hover{
    background-color: white;
}

/* Laying out the side bar section */

aside{
    grid-area: sidebar;
    background: rgba(0, 0, 0, .4);
    padding: .5em;
    box-shadow: 2px 2px 2px #555;
}
aside h1{
    font-size: 2rem;
    margin: 1em auto;
}
aside ul{
    display: grid;
    grid-template-rows: repeat(9, minmax(30px, 1fr));
    align-items: center;
    position: relative;
}

aside ul > li{
    transition: .5s;
    width: 100%;
    height: 100%;
    padding-top: 1em;
    padding-bottom: 1em; 
}

aside ul .list-item{
    cursor: pointer;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: .5em;
    padding-bottom: .5em; 
} 

aside ul .list-item:hover{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: .5px .5px .5px black;
}

/* Laying out the main article */

article{
    grid-area: article;
    padding: 10px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "projects announcements" "projects trendings";
    gap: 10px;
}

.projects{
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
    gap: 20px;
}

.projects > .box{
    border-left: 3px solid black;
    box-shadow: 3px 2px 3px #555;
    padding: 1em;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.projects > .black-border{
    border-left: 3px solid white;
}

.box > h1{
    text-align: center;
    margin: .5em;
}

.announcements{
    grid-area: announcements;
    border: 2px solid black;
    box-shadow: 2px 2px 2px #555;
    padding: 1em;
}

.trendings{
    grid-area: trendings;
    border: 2px solid black;
    box-shadow: 2px 2px 2px #555;
    padding: 1em;
}

.antr-blacked{
    border: 2px solid white;
}
/* Laying out the aside section */

aside > .title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon{
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

aside > ul > li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
}

#logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#profile-logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.btn-logo{
    width: 20px;
    height: 20px;
    border-radius: 50%;
} 

#project-btns{
    position:relative;
}

#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#text > h1{
    margin: 1em; 
    text-align: center;
    font-weight: bolder;
}

#text > p{
    line-height: 1.25em;
}

.blacked{
    border-left: 5px solid white;
}